<div class="page-header">
  <h1>
    <%= link_to root_path do %>
      <%= @model.year %> <%= @model.name %> Accessories
    <% end %>
    <% if admin_signed_in? %>
      <small>
        <%= link_to 'Add Accessory', new_model_accessory_path(@model, @accessory), id: "add_link" %>
      </small>
    <% end %>
  </h1>
</div>


<% if @model.accessories.any? %>
  <% @model.accessories.each do |accessory| %>
    <div class="cards col-xs-12 col-md-12">
      <div class="row" id="<%= accessory.id %>">
        <div class="accessory-image col-xs-12 col-md-4">
          <%= image_tag accessory.image.url(:large), class: "large-image" %>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="accessory-name">
            <%= accessory.name %>
          </div>
          <div class="accessory-description">
            <%= accessory.description %>
          </div>
        </div>
        <div class="price-and-button col-xs-12 col-md-2">
          <%= form_for @order_item, remote: true do |f| %>
            <div class="price-and-price-per-month">
              <div class="price">
                <h4><%= number_to_currency accessory.full_price %></h4>
                <% if accessory.labor_cost > 0 %>
                  <p>Includes <%= number_to_currency accessory.labor_cost %> labor</p>
                <% end %>
              </div>
              <!-- <div class="price-discount">
                <h4><%= number_to_currency accessory.discount %></h4>
              </div> -->
              <div class="price-per-month">
                <h4><%= number_to_currency accessory.monthly %>/mo. *</h4>
              </div>
            </div>
            <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
            <%= f.hidden_field :accessory_id, value: accessory.id %>
            <div class="add">
              <%= f.submit "Add", class: "btn btn-primary add-button" %>
            </div>
            <div class="remove">
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if admin_signed_in? %>
      <div class="admin-controls edit-accessory col-md-2">
        <%= link_to 'edit', edit_model_accessory_path(@model, accessory ) %> | <%= link_to 'delete', model_accessory_path(@model, accessory), data: { confirm: "This will permenately delete this accessory. Are you sure?", method: "delete" } %></li>
      </div>
    <% end %>
  <% end %>
  <%= render 'decline' %>
<% end %>

<div class="navbar navbar-fixed-bottom" role="navigation">
  <div class="container-fluid checkout-bar">
    <div class="row">
      <div class="back col-xs-3 col-md-3">
        <%= link_to "Back", :back, class: "btn btn-success back-button" %>
      </div>
      <div class="col-xs-9 col-md-6 cart-text">
<%= render 'layouts/cart_text' %>
      </div>
      </div>
    <div class="asterix">
      * Monthly price is an estimate based on 10% APR for 60 months. Speak with dealer representative for price including tax, installation, and other interest rates.
    </div>
  </div>
</div>
