<div class="page-header">
  <h1><%= link_to "Select accessories for your ", root_path %> <%= @model.name %> <small><%= link_to 'Add Accessory', new_model_accessory_path(@model, @accessory), id: "add_link" %></small></h1>
</div>

<% if @model.accessories.any? %>
  <% @model.accessories.each do |accessory| %>
    <div class="cards col-xs-12 col-md-12">
      <div class="row">
        <div class="accessory-image col-xs-12 col-md-4">
          <%= image_tag accessory.image.url(:large), class: "large-image" %>
        </div>
        <div class="accessory-name col-xs-12 col-md-2">
          <%= accessory.name %>
        </div>
        <div class="accessory-description col-xs-12 col-md-4">
          <%= accessory.description %>
        </div>
        <div class="price-and-button col-xs-12 col-md-2">
          <%= form_for @order_item, remote: true do |f| %>
            <div class="price-and-price-per-month">
              <div class="price">
                <h4><%= number_to_currency accessory.price %></h4>
              </div>
              <div class="price-per-month">
                <h4>$2.66/mo *</h4>
              </div>
            </div>
            <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
            <%= f.hidden_field :accessory_id, value: accessory.id %>
            <%= f.submit "Add", class: "btn btn-primary add-button" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="admin-controls edit-accessory col-md-2">
      <%= link_to 'edit', edit_model_accessory_path(@model, accessory ) %> | <%= link_to 'delete', model_accessory_path(@model, accessory), data: { confirm: "This will permenately delete this accessory. Are you sure?", method: "delete" } %></li>
    </div>
  <% end %>
<% end %>
<div class="navbar navbar-fixed-bottom" role="navigation">
  <div class="container">
    <p class="cart-text"><%= render 'layouts/cart_text' %></p>
  </div>
</div>
