<div class="page-header">
  <h1>Select accessories for your <%= @model.name %> <small><%= link_to 'Add Accessory', new_manufacturer_model_accessory_path(@manufacturer, @model, @accessory), id: "add_link" %></small></h1>
</div>

<% if @model.accessories.any? %>
  <ul class="list-container">
      <% @model.accessories.each do |accessory| %>
        <div class="accessory-cards col-md-12"
          <li>
            <div class="accessory-image col-md-2">
              <%= image_tag accessory.image.url(:thumb) %>
            </div>
            <div class="accessory-name-description">
              <div class="accessory-name col-md-2">
                <%= accessory.name %>
              </div>
              <div class="accessory-description col-md-7">
                <%= accessory.description %>
              </div>
              <div class="accessory-price">
                <%= accessory.price %>
              </div>
              <button class="btn">Select</button>
            </div>
          </li>
        </div>
        <div class="admin-controls edit-accessory col-md-2">
          <%= link_to 'edit', edit_manufacturer_model_accessory_path(@manufacturer, @model, accessory ) %> | <%= link_to 'delete', manufacturer_model_accessory_path(@manufacturer, @model, accessory), data: { confirm: "This will permenately delete this accessory. Are you sure?", method: "delete" } %></li>
        </div>
      <% end %>
  </ul>
<% end %>
