
<div class="page-header col-xs-12">
  <h1>Select your <%= @manufacturer.name %> model <small><%= link_to 'Add Model', new_manufacturer_model_path(@manufacturer, @model), id: "add_link" %></small></h1>
</div>

<% if @manufacturer.models.any? %>

      <% @manufacturer.models.each do |model| %>
        <%= link_to manufacturer_model_path(@manufacturer, model) do %>
          <div class="model-cards col-xs-12">
            <div class="row">
              <div class="model-image col-xs-4">
                <%= image_tag model.image.url(:large), class: "large-image" %>
              </div>
              <div class="model-year-name">
                <div class="model-year col-xs-2">
                  <%= model.year %>
                </div>
                <div class="model-name col-xs-2">
                  <%= model.name %>
                </div>
              </div>
            </div>
            <!-- <div class="admin-controls edit-model col-xs-5">
              <%= link_to 'edit', edit_manufacturer_model_path(@manufacturer, model) %> | <%= link_to 'delete', manufacturer_model_path(@manufacturer, model), data: { confirm: "This will delete the model and all accessories associated with this model. Are you sure?", method: "delete" } %></li>
            </div> -->
          </div>
        <% end %>
      <% end %>

<% end %>
